# Transforming the data

In [1]:
# importing essential packages
import pandas as pd
import math

# 1. `.map()` method

- `.map()` method is a great tool to have when it comes to processing & transforming iterables of numeric values
- it is a convenient way to perform _element-wise_ transformations and other data cleaning-related operations
- this method on Series takes a function object and a sequence of iterables (list, tuple, dictionary, set, or Series) as arguments
- any built-in functions that take an argument and returns a value can be used with `.map()`
- it returns an iterator (don't worry about this concept for now)
- the resulting values (an iterator) can be passed to the `list()` function or `set()` function to create a list or a set

Example code:

`map(function, iterable)`

To extract the result we can use for example: <break> 

`list(map(function, iterable))`

or 

`set(map(function, iterable))`

### Example 1.1 - Example using For Loops

In [2]:
# Run this code
our_list = ['This', 'is', 'the', 'first', 'example']

In [4]:
#Step 1: intialize an empty list "result_loop" that will store our results later
#Step 2: get the length of each variable in the list "our_list"
#Step 3: append the result to the list "result_loop"
#Step 4: print the result

result_loop = []

for word in our_list:
    result_loop.append(len(word))

print(result_loop)

[4, 2, 3, 5, 7]

### Example 1.2 - Example using .map() function

In [5]:
# Run this code
our_list = ['This', 'is', 'the', 'first', 'example']

In [1]:
# Step 1: Use the .map() method to get the length of the words in our_list
# Step 2: Pass the list() function to create a list of resulting values
# Step 3: Assign the result to the variable name "result" to print it to the screen

result_map = list(map(len, our_list))
print(result_map)

NameError: name 'our_list' is not defined

In the above example the `.map()` method iterates over `our_list`, applies the function on each element and returns the length of the strings as a new list.

Which one do you think is neater and shorter?

```python
result_loop = []

for word in our_list:
  result_loops.append(len(word))

print(result_loop)
```
vs. 

```python
result_map = list(map(len, our_list))
print(result_map)
```

In the programming world, it is cleaner and much more concise and sophisticated to use ``map()`` instead of for-loops. On top of that, with `map()` you can guarantee that the original sequence won't be acccidentally mutated or changed, since `map()` always returns a sequence of the results and leads to fewer errors in code. 

Feel free to check out [this](https://stackoverflow.com/questions/1975250/when-should-i-use-a-map-instead-of-a-for-loop#:~:text=4%20Answers&text=map%20is%20useful%20when%20you,loop%20and%20constructing%20a%20list.) on stackoverflow, where the advantages of using map over for-loops are discussed.

### Task 1
Now, let's create a function `triple` and a Pandas Series `numbers` which will be our iterable.

In [6]:
# Run this code 
def triple(x):
    return x * 3

In [7]:
# Run this code
numbers = pd.Series([15, 4, 8, 45, 36, 7])

In [8]:
# TASK 1 >>>> Apply the .map() method with the function triple on our Pandas Series 'numbers' and store it in the variable result_2 
#             Print result_2 (the result should be the numbers multiply by 3)
#             Think about the three different steps performed in Example 1

### Start your code below ###

0     45
1     12
2     24
3    135
4    108
5     21
dtype: int64

# 2. .filter() method

- similar to `.map()`, but instead of any function, `.filter()` takes a Boolean-valued function (a function that returns True or False based on the input data) instead of any built-in functions and a sequence of iterables (list, tuple, dictionary, set, or Series) as arugments
- returns the items of the intput data which the Boolean-valued function returns `True`
- the Boolean-valued function can be used-defined function

Imagine there is a list with positive and negative numbers

In [10]:
# Run this code
list_mixed = [-1,0,2,24,-42,-5,30,99]

In [11]:
# Run this code
def criteria(x): 
    return x >= 0

With the help of filter and our own user-defined function we can filter out the negative values and be left with only positive values.

In [12]:
list_positive = list(filter(criteria, list_mixed))
print(list_positive)

[0, 2, 24, 30, 99]

# 3. `.apply()` method

- this method applies a function along an axis of the DataFrame $^{1}$ 
- it also works elementwise but is suited to more complex functions and operations
- it accepts user-defined functions which apply a transformation/aggregation on a DataFrame (or Series) as well

You can find a nice comparison of `.map()` and `.apply()` methods and when to use them in [this article on stackoverflow](https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas).

### Example 3.1

In [13]:
# Run this code
students = [(1, 'Robert', 30, 'Slovakia', 26),
           (2, 'Jana', 29, 'Sweden' , 27),
           (3, 'Martin', 31, 'Sweden', 26),
           (4, 'Kristina', 26,'Germany' , 30),
           (5, 'Peter', 33, 'Austria' , 22),
           (6, 'Nikola', 25, 'USA', 23),
           (7, 'Renato', 35, 'Brazil', 26)]

students_1 = pd.DataFrame(students, columns= ['student_id', 'first_name', 'age', 'country', 'score'])
print(students_1)

   student_id first_name  age   country  score
0           1     Robert   30  Slovakia     26
1           2       Jana   29    Sweden     27
2           3     Martin   31    Sweden     26
3           4   Kristina   26   Germany     30
4           5      Peter   33   Austria     22
5           6     Nikola   25       USA     23
6           7     Renato   35    Brazil     26

In [14]:
# Run this code to create a regular function

def score_func(x): 
    if x < 25: 
        return "Retake" 
    else: 
        return "Pass"

In [15]:
# Use .apply() along with score_func that 
students_1['result'] = students_1.score.apply(score_func)
print(students_1)

   student_id first_name  age   country  score  result
0           1     Robert   30  Slovakia     26    Pass
1           2       Jana   29    Sweden     27    Pass
2           3     Martin   31    Sweden     26    Pass
3           4   Kristina   26   Germany     30    Pass
4           5      Peter   33   Austria     22  Retake
5           6     Nikola   25       USA     23  Retake
6           7     Renato   35    Brazil     26    Pass

### Example 4.0

As we already know, regular functions are created using the `def` keyword. These type of functions can have any number of arguments and expressions.

In [16]:
# Example of regular function
def multi_add(x):
    return x * 2 + 5

In [17]:
result_1 = multi_add(5)
print(result_1)

15

# 4. Lambda Function
- an anonymous function (it means it can be defined without a name)
- the `def` keyword is not necessary with a lambda function
- lambda functions can have any number of parameters, but the function body can only **contain one expression** (that means multiple statements are not allowed in the body of a lambda function) = it is used for *_one-line expressions_*
- it returns a function object which can be assigned to variable

General syntax: `lambda x: x`




### Example 4.1

In [18]:
our_lambda = lambda x: x * 2 + 5
print(our_lambda(5))

15

This simple lambda function takes an input `x` (in our case number 5), multiplies it by `2` and adds `5`. <br>

Lambda functions are commonly used along `.apply()` method and can be really useful. <br>

### Example 4.2

Imagine that the scores of students above have not been correctly recorded and we need to multiply them by 10. 

Use a lambda function along with `apply()` and assign it to the specific column of the dataset ('score').

In [19]:
students_1.score = students_1.score.apply(lambda x: x * 10)
print(students_1)

   student_id first_name  age   country  score  result
0           1     Robert   30  Slovakia    260    Pass
1           2       Jana   29    Sweden    270    Pass
2           3     Martin   31    Sweden    260    Pass
3           4   Kristina   26   Germany    300    Pass
4           5      Peter   33   Austria    220  Retake
5           6     Nikola   25       USA    230  Retake
6           7     Renato   35    Brazil    260    Pass

### Task 2

In [20]:
# TASK 2 >>>> Use the .apply() method on column 'country' along with lambda to make words uppercase 
#             Do not forget assign it to this column

### Start your code below ###

   student_id first_name  age   country  score  result
0           1     Robert   30  SLOVAKIA    260    Pass
1           2       Jana   29    SWEDEN    270    Pass
2           3     Martin   31    SWEDEN    260    Pass
3           4   Kristina   26   GERMANY    300    Pass
4           5      Peter   33   AUSTRIA    220  Retake
5           6     Nikola   25       USA    230  Retake
6           7     Renato   35    BRAZIL    260    Pass

We can use lambda functions to simplify Example 3.1 like this:

In [21]:
# Run this code
students = [(1, 'Robert', 30, 'Slovakia', 26),
           (2, 'Jana', 29, 'Sweden' , 27),
           (3, 'Martin', 31, 'Sweden', 26),
           (4, 'Kristina', 26,'Germany' , 30),
           (5, 'Peter', 33, 'Austria' , 22),
           (6, 'Nikola', 25, 'USA', 23),
           (7, 'Renato', 35, 'Brazil', 26)]

students_1 = pd.DataFrame(students, columns= ['student_id', 'first_name', 'age', 'country', 'score'])

In [22]:
# A Lambda function is used instead of the custom defined function "score_func"

students_1['result'] = students_1.score.apply(lambda x: "Pass" if (x > 25) else "Retake")
print(students_1)

   student_id first_name  age   country  score  result
0           1     Robert   30  Slovakia     26    Pass
1           2       Jana   29    Sweden     27    Pass
2           3     Martin   31    Sweden     26    Pass
3           4   Kristina   26   Germany     30    Pass
4           5      Peter   33   Austria     22  Retake
5           6     Nikola   25       USA     23  Retake
6           7     Renato   35    Brazil     26    Pass

Did you know we can combine the `.map()` and `.filter()` methods? Since `.filter()` returns a selected iterable based on certain criteria, the output of `.filter()` can be our input for the `.map()` method.

In order to avoid a negative number as an argument for `math.sqrt()` which will result in a `ValueError`, we want to filter out the negative numbers before we apply the `math.sqrt()` method.

In [23]:
# Run this code
list_mixed = [-1,0,2,24,-42,-5,30,99]

In [24]:
# Run this code
def criteria(x): 
    return x >= 0

In [25]:
list_sqrt = list(map(math.sqrt, filter(criteria, list_mixed)))
print(list_sqrt)

[0.0, 1.4142135623730951, 4.898979485566356, 5.477225575051661, 9.9498743710662]

### Optional: Task 3

In [2]:
# TASK 3 >>>> With the help of .map() and .filter(),
#             round up any number that is bigger than 5 from the list "list_sqrt" to the next whole digit.
#             To round up the number, you can use round().
#             Don't forget to write your user-defined function as your criteria to filter out the "not desirable" numbers

### Start your code below ###

NameError: name 'list_sqrt' is not defined

# References

$^{1}$ pandas. pandas.DataFrame.apply. [ONLINE] Available at: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html#pandas-dataframe-apply. [Accessed 14 September 2020].

Stackoverflow. Difference between map, applymap and apply methods in Pandas. [ONLINE] Available at: https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas. [Accessed 14 September 2020].

Material adapted for RBI internal purposes with full permissions from original authors. Source: https://github.com/zatkopatrik/authentic-data-science