## Introduction to Data Science

## Data Science Template with Pandas and Scikit-Learn

Based on [this](https://towardsdatascience.com/how-to-master-scikit-learn-for-data-science-c29214ec25b0) article and others

_________________________

[Scikit-learn](https://scikit-learn.org/stable/) is one of many [scikits](https://www.scipy.org/scikits.html) (i.e. short form for [SciPy](https://www.scipy.org/) Toolkits) that specializes on machine learning. A scikit represents a package that is too specialized to be included in SciPy and are thus packaged as one of many scikits. Another popular scikit is the [scikit-image](https://scikit-image.org/) (i.e. collection of algorithms for image processing).

Scikit-learn is by far one of the pillars for machine learning in Python as it allows you to build machine learning models as well as providing utility functions for data preparation, post-model analysis and evaluation.

We will be exploring the essential bare minimal knowledge that you need in order to master scikit-learn for getting started in data science.

### Data representation in scikit-learn

Letâ€™s start with the basics and consider the data representation used in scikit-learn, which is essentially a tabular dataset.

At a high-level, for a supervised learning problem the tabular dataset will be comprised of both X and y variables while an unsupervised learning problem will constitute of only X variables.

At a high-level, X variables are also known as independent variables and they can be either quantitative or qualitative descriptions of samples of interests while the y variable is also known as the dependent variable and they are essentially the target or response variable that predictive models are built to predict.

![](../Data/Figs/scikit1.jpeg)

### Example machine learning workflow

This is an example workflow that you can use as a general guideline that can be adapted to your own projects. 

The first 6 steps can be performed using Pandas whereas subsequent steps are performed using scikit-learn, Pandas (to display results in a DataFrame) and also matplotlib (for displaying plots of model performance or plots of feature importance).

1. Read in the data as a Pandas DataFrame and display the first and last few rows.  
2. Display the dataset dimension and the data types of the columns
3. Handle missing data.   
4. Check and treat outliers  
5. Perform Exploratory data analysis. Use Pandas groupby function (on categorical variables) together with the aggregate function as well as creating plots to explore the data.  
6. Assign independent variables to the X variable while assigning the dependent variable to the y variable  
7. Perform data splitting (using scikit-learn) to separate it as the training set and the testing set by using the 80/20 split ratio (remember to set the random seed number).  
8. Use the training set to build a machine learning model using the Random forest algorithm (using scikit-learn).  
9. Perform hyperparameter tuning coupled with cross-validation via the use of the GridSearchCV() function.  
10. Apply the trained model to make predictions on the test set via the predict() function.  
11. Explain the obtained model performance metrics as a summary Table with the help of Pandas (I like to display the consolidated model performance as a DataFrame) or also display it as a visualization with the help of matplotlib.  
12. Explain important features as identified by the Random forest model.

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Read in the data as a Pandas DataFrame and display the first and last few rows.

### Creating artificial datasets

You can create artificial datasets using scikit-learn that can be used to try out different machine learning workflow that you may have devised.

In [70]:
from sklearn.datasets import make_classification

features, target = make_classification(n_samples=200, n_classes=2, n_features=10, n_redundant=0, random_state=1)

In [71]:
print(features.shape)
print(target.shape)

(200, 10)
(200,)

In [72]:
features = pd.DataFrame(features)
target = pd.Series(target, name='target')
target = target.astype(int)

In [73]:
df0 = pd.concat([features,target], axis=1)
df0.head()

,0,1,2,3,4,5,6,7,8,9,target
0,-1.511077,0.608749,-0.153236,0.507984,-0.324032,-2.432509,1.592056,-0.864830,-0.202901,-0.871422,1
1,1.445445,0.518969,0.645153,2.038777,-0.396293,1.282142,-2.170249,-1.043400,0.048547,-2.621012,0
2,0.371670,0.513505,-1.398813,-0.459943,0.644354,0.081768,-1.757065,0.142251,-1.132835,1.853009,0
3,2.565453,0.145652,1.177052,1.322694,0.194175,-0.641108,0.878631,-0.202694,-1.199798,-0.464115,1
4,-0.710656,1.050615,0.354602,-1.774596,-0.312230,-0.212373,0.826484,-0.621252,-1.187774,1.131129,1

### Loading datasets

In [74]:
df = pd.read_csv("../Data/CSV/Automobile_data.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [75]:
df.tail(5)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## 2. Display the dataset dimensios and the data types of the columns.

In [81]:
df.shape

(205, 26)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(6), int64(5), object(15)
memory usage: 41.8+ KB

In [77]:
df.dtypes.value_counts()

object     15
float64     6
int64       5
dtype: int64

In [86]:
ctype = df.dtypes.reset_index()
ctype.columns = ["Count", "Column Type"]
ctype = ctype.groupby("Column Type").aggregate("count").reset_index()
ctype

  Column Type  Count
0       int64      5
1     float64      6
2      object     15

In [87]:
df.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [89]:
df.describe(include=["O"])

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,horsepower,peak-rpm,price
count,205,205,205,205,205,205,205,205,205,205,205,205,205,205,205
unique,22,2,2,3,5,3,2,7,7,8,39,37,60,24,187
top,toyota,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.62,3.4,68,5500,?
freq,32,185,168,114,96,120,202,148,159,94,23,20,19,37,4

## 3. Handle Missing Data

First check if there are missing data or not. If there are, make a decision to either drop the missing data or to fill the missing data. Also, be prepared to provide a reason justifying your decision.  
Scikit-learn also supports the imputation of missing values, which is an important part of data pre-processing prior to the construction of machine learning models. Users can use either the univariate or multivariate imputation method via the SimpleImputer() and IterativeImputer() functions from the [sklearn.impute](https://scikit-learn.org/stable/modules/impute.html) sub-module.

In [78]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [79]:
print(len(df[df['normalized-losses'].isna()]))
print(len(df[df['normalized-losses'].notna()]))

41
164

In [90]:
missing_df = df.isnull().sum(axis=0).reset_index()
missing_df.columns = ["column_name", "missing_count"]
missing_df = missing_df[missing_df["missing_count"] > 0]
missing_df = missing_df.sort_values(by="missing_count")
missing_df

         column_name  missing_count
1  normalized-losses             41

In [91]:
#df["col_cat"] = df["col_cat"].fillna(df["cat_col"].value_counts().index[0]) # for categorical
df["normalized-losses"].fillna(df["normalized-losses"].mean(), inplace=True) # for numerical (mean or median)
print(len(df[df['normalized-losses'].isna()]))

0

## 4. Check and treat outliers

In [4]:
train.ix[np.abs(train.col-fmean) > (3*fstd), â€˜colâ€™] # upper outliers
train.ix[np.abs(train.col-fmean) < -(3*fstd), â€˜colâ€™] # lower outliers

fmean = train.col.mean()
fstd = train.col.std()

train.ix[np.abs(train.col-fmean) > (3*fstd), â€˜colâ€™] = fmean + (3*fstd) # treat upper outliers
train.ix[np.abs(train.col-fmean) < -(3*fstd), â€˜colâ€™] = -(fmean + (3*fstd)) # treat lower outliers

SyntaxError: invalid character in identifier (2246842787.py, line 1)

### Feature scaling

As features may be of heterogeneous scales with several magnitude difference, it is therefore essential to perform feature scaling.

Common approaches include normalization (scaling features to a uniform range of 0 and 1) and standardization (scaling features such that they have centered mean and unit variance that is all X features will have a mean of 0 and standard deviation of 1).

In scikit-learn, normalization can be performing using the [normalize](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.normalize.html#) function while standardization can be performed via the [StandardScaler](https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html) function.

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
numeric_columns = X.select_dtypes(include=['int64','float64']).columns

In [ ]:
scaler = StandardScaler()
print(scaler.fit(X[numeric_columns]))

In [ ]:
print(scaler.mean_)

In [ ]:
print(scaler.transform(X[numeric_columns]))

### Feature selection

A common feature selection approach that I like to use is to simply discard features that have low variance as they provide minimal signal (if we think of it in terms of signals and noises).

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
def remove_variance(input_data, threshold=0.1):
    selection = VarianceThreshold(threshold)
    selection.fit(input_data)
    return input_data[input_data.columns[selection.get_support(indices=True)]]

In [ ]:
X = remove_variance(pd.DataFrame(X[numeric_columns]), threshold=0.01)
X

### Feature engineering

It is often the case that provided features may not readily be suitable for model building. For instance, categorical features require us to encode such features to a form that is compatible with machine learning algorithms in scikit-learn (i.e. from strings to integers or binary numerical form).

Two common types of categorical features includes:

+ Nominal features â€” Categorical values of the feature has no logical order and are independent from one another. For instance, categorical values pertaining to cities such as Los Angeles, Irvine and Bangkok are nominal.

+ Ordinal features â€” Categorical valeus of the feature has a logical order and are related to one another. For instance, categorical values that follow a scale such as low, medium and high has a logical order and relationship such that low < medium < high.

Such feature encoding can be performed using native Python (numerical mapping), Pandas (get_dummies() function and map() method) as well as from within scikit-learn (OneHotEncoder(), OrdinalEncoder(), LabelBinarizer(), LabelEncoder(), etc.)

this### Data splitting

A commonly used function would have to be data splitting for which we can separate the given input X and y variables as training and test subsets (X_train, y_train, X_test and y_test).

The code snippet below makes use of the train_test_split() to perform the data splitting where its input arguments are the input X and y variables, the size of the test set set to 0.2 (or 20%) and a random seed number set to 42 (such that the code block will yield the same data split if it is ran multiple times).

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_train.shape)
print(Y_test.shape)
print(Y_test.shape)

### Creating a workflow using [Pipeline](https://machinelearningmastery.com/modeling-pipeline-optimization-with-scikit-learn/)  

As the name implies, we can make use of the Pipeline() function to create a chain or sequence of tasks that are involved in the construction of machine learning models. For example, this could be a sequence that consists of feature imputation, feature encoding and model training.

We can think of pipelines as the use of a collection of modular Lego-like building blocks for building machine learning workflows.

For more information on building your own machine learning pipeline using scikit-learn, Jason Brownlee from Machine Learning Mastery provides a detailed account in the following tutorial:

### High-level overview of using scikit-learn
#### Core steps for building and evaluating models

In a nutshell, we can summarize the core essence of using learning algorithms in scikit-learn it would consist of the following 5 steps:

> from sklearn.modulename import EstimatorName      # 0. Import  
> model = EstimatorName()                           # 1. Instantiate  
> model.fit(X_train, y_train)                       # 2. Fit  
> model.predict(X_test)                             # 3. Predict  
> model.score(X_test, y_test)                       # 4. Score  

Translating the above pseudo-code to the construction of an actual model (e.g. classification model) by using the random forest algorithm as an example would yield the following code block:

> from sklearn.ensemble import RandomForestClassifier  
> rf = RandomForestClassifier(max_features=5, n_estimators=100)  
> rf.fit(X_train, y_train)  
> rf.predict(X_test)  
> rf.score(X_test, y_test)  



![](../Data/Figs/scikit2.jpeg)

+ Step 0. Importing the estimator function from a module of scikit-learn. An estimator is used to refer to the learning algorithm such as RandomForestClassifier that is used to estimate the output y values given the input X values.
Simply put, this can be best summarized by the equation y = f(X) where y can be estimated given known values of X.

+ Step 1. Instantiating the estimator or model. This is done by calling the estimator function and simply assigning it to a variable. Particularly, we can name this variable as model, clf or rf (i.e. abbreviation of the learning algorithm used, random forest).
The instantiated model can be thought of as an empty box with no trained knowledge from the data as no training has yet occured.

+ Step 2. The instantiated model will now be allowed to learn from a training dataset in a process known as model building or model training.
The training is initiated via the use of the fit() function where the training data is specified as the input argument of the fit() function as in rf.fit(X_train), which literally translates to allowing the instantiated rf estimator to learn from the X_train data. Upon completion of the calculation, the model is now trained on the training set.

+ Step 3. The trained model will now be applied to make predictions on a new and unseen data (e.g. X_test) via the use of the predict() function.
As a result, predicted y values (y_test) are generated (and can be stored into a variable such as y_test_pred that can later be used for computing the model performance).

+ Step 4. The model performance can now be calculated. The simplest and quickest method is to use the score() function as in model.score(X_test, y_test).
If this function is used for a classification model the score() function produces the accuracy value whereas if it is a regression model the score() function calculates the R2 value.

For completeness, we can then extend this core workflow to also include other additional steps that could further boost the robustness and usability of constructed models.

### Model interpretation

A model is only useful if insights can be extracted from it so as to drive the decision-making process.

In continuation of the random forest model built above, important features stored in the instantiated rf model can be extracted as follows:

#### Model interpretation

> rf.feature_importances_

The above code would produces an array of importance values for features used in model building:

### Building a simple machine learning model using Random Forest

In the following blocks of codes, we will first start with building a random forest model. Finally, we will explore how to tune the hyperparameters (e.g. n_estimators and max_features) of the random forest algorithm.

We first start by importing the necessary libraries and assigning the random forest classifier to the rf variable.

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier(max_features=5, n_estimators=100)

Now, we will be applying the random forest classifier to build a classification model using the rf.fit() function on the training data (e.g. X_train and Y_train).

In [ ]:
rf.fit(X_train, Y_train)

In [ ]:
rf.score(X_test, Y_test)

In [ ]:
rf.feature_importances_

In [ ]:
features = pd.concat([pd.Series(X.columns, name='Features'), pd.Series(rf.feature_importances_, name='Gini')], axis=1)
features.sort_values(by='Gini', inplace=True, ascending=True)
features

In [ ]:
def plot_feature_importance(importance, names, model_type):
    #Create arrays from feature importance and feature names
    feature_importance = np.array(importance)
    feature_names = np.array(names)

    #Create a DataFrame using a Dictionary
    data={'feature_names':feature_names,'feature_importance':feature_importance}
    fi_df = pd.DataFrame(data)

    #Sort the DataFrame in order decreasing feature importance
    fi_df.sort_values(by=['feature_importance'], ascending=False, inplace=True)

    #Define size of bar plot
    plt.figure(figsize=(10,8))
    #Plot Searborn bar chart
    sns.barplot(x=fi_df['feature_importance'], y=fi_df['feature_names'])
    #Add chart labels
    plt.title(model_type + 'FEATURE IMPORTANCE')
    plt.xlabel('FEATURE IMPORTANCE')
    plt.ylabel('FEATURE NAMES')

In [ ]:
#plot_feature_importance(rf.feature_importances_, pd.DataFrame(X_train.columns), 'RANDOM FOREST')

### Hyperparameter tuning

Typically, I would use default hyperparameters when building the first few models. At the first few attempts the goal is to make sure that entire workflow works synchronously and does not spit out errors.

My go-to machine learning algorithm is random forest and I use it as the baseline model. In many cases it is also selected as the final learning algorithm as it provides a good hybrid between robust performance and excellent model interpretability.

Once the workflow is in place, the next goal is to perform hyperparameter tuning in order to achieve the best possible performance.

Although random forest may work quite good straight out of the box but with some hyperparameter tuning it could achieve slightly higher performance. As for learning algorithms such as support vector machine, it is essential to perform hyperparameter tuning in order to obtain robust performance.

Letâ€™s now perform hyperparameter tuning which we can perform via the use of the GridSearchCV() function.

Firstly, we will create an artificial dataset and perform data splitting, which will then serve as the data for which to build subsequent models.

In [ ]:
from sklearn.model_selection import GridSearchCV

max_features_range = np.arange(1,6,1)
n_estimators_range = np.arange(10,210,10)
param_grid = dict(max_features=max_features_range, n_estimators=n_estimators_range)

rf = RandomForestClassifier()

grid = GridSearchCV(estimator=rf, param_grid=param_grid, cv=5)

In [ ]:
grid.fit(X_train, Y_train)

In [ ]:
print(f"The best parameters are {grid.best_params_} with a score of {grid.best_score_:0.2f}")

### Dataframe of Grid search parameters and their Accuracy scores

Finally, we will be exporting the grid search parameters and their resulting accuracy scores into a dataframe.

In [ ]:
grid_results = pd.concat([pd.DataFrame(grid.cv_results_["params"]),pd.DataFrame(grid.cv_results_["mean_test_score"], columns=["Accuracy"])],axis=1)
grid_results.head()

### Preparing data for making contour plotsÂ¶

Prior to making contour plots, we will have to reshape the data into a compatible format that will be recognized by the contour plot functions.

Firstly, we will be using Pandas' groupby() function to segment the data into groups based on the 2 hyperparameters: max_features and n_estimators.

In [ ]:
grid_contour = grid_results.groupby(['max_features','n_estimators']).mean()
grid_contour

### Pivoting the data

Data is reshaped by pivoting the data into an m by n matrix where rows and columns correspond to the max_features and n_estimators, respectively.

In [ ]:
grid_reset = grid_contour.reset_index()
grid_reset.columns = ['max_features', 'n_estimators', 'Accuracy']
grid_pivot = grid_reset.pivot('max_features', 'n_estimators')
grid_pivot

Finally, we assign the pivoted data into the respective x, y and z variables.

In [ ]:
x = grid_pivot.columns.levels[1].values
y = grid_pivot.index.values
z = grid_pivot.values

### 2D Contour Plot

Now, comes the fun part, we will be visualizing the landscape of the 2 hyperparameters that we are tuning and their influence on the accuracy score.

In [ ]:
import plotly.graph_objects as go

# X and Y axes labels
layout = go.Layout(
            xaxis=go.layout.XAxis(
              title=go.layout.xaxis.Title(
              text='n_estimators')
             ),
             yaxis=go.layout.YAxis(
              title=go.layout.yaxis.Title(
              text='max_features') 
            ) )

fig = go.Figure(data = [go.Contour(z=z, x=x, y=y)], layout=layout )

fig.update_layout(title='Hyperparameter tuning', autosize=False,
                  width=500, height=500,
                  margin=dict(l=65, r=50, b=65, t=90))

fig.show()

### 3D Surface Plot

Let's add an extra dimension to the plot and we now have a 3D surface plot. The cool thing about this plot is that you can rotate the graph.

In [ ]:
import plotly.graph_objects as go


fig = go.Figure(data= [go.Surface(z=z, y=y, x=x)], layout=layout )
fig.update_layout(title='Hyperparameter tuning',
                  scene = dict(
                    xaxis_title='n_estimators',
                    yaxis_title='max_features',
                    zaxis_title='Accuracy'),
                  autosize=False,
                  width=800, height=800,
                  margin=dict(l=65, r=50, b=65, t=90))
fig.show()